
<form class="form-inline md-form form-sm" style="margin-left: 1%;margin-top: 1%;">
  <input class="form-control form-control-sm mr-2 w-50"   #searchbox type="text" value={{searchinput}} placeholder="Search" aria-label="Search"
    mdbInput>
    <a  (click)="searchproduct(searchbox.value)"><mat-icon  matPrefix>search</mat-icon></a>
</form>

<div class="row">
<mat-progress-bar  mode="buffer" *ngIf="IsWait" class="mat-progress-bar"color="primary">
</mat-progress-bar>

    <div class="col-md-4" *ngFor = "let templ of productdatadtata">
    <div style="margin-left: 2%;margin-top: 2%;" >
      <mdb-card cascade="true" wider="true" (click)="viewsingleproduct(templ.id)">
  
        <!--Card image-->
     
          
        <div class=" p-2 view view-cascade overlay waves-light" mdbWavesEffect>
          <img class="card-img-top" src="{{templ.url}}"
            alt="" width="500" height="333">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/.Card image-->
  
        <!--Card content-->
        <mdb-card-body cascade="true" class="text-center">
        <mdb-card-title>
            <h4><strong><a >{{templ.name | limit : 37}} {{templ.name.length > 37 ? '...' : ''}} </a></strong></h4>
          </mdb-card-title>
  
          <!--Description-->
          <mdb-card-text>
              <p><b>Affiliate Website : {{templ.affiliatewebsite}}</b></p>
              <p><b>Offer Price :{{templ.offerprice}} ₹</b></p>
              <p><b> Orignal Price :{{templ.origprice}} ₹</b></p>
          </mdb-card-text>
  
          <hr>
  
          <!--Card footer-->
          <mdb-card-footer class="p-0">
            
            <span class="float-left">
              <button routerLink="/admin/addproduct/{{templ.id}}" mat-icon-button color="warn" aria-label="Example icon button with a menu icon">
                    <mat-icon>edit</mat-icon>Edit </button>     
               </span>
               
              <span class="float-right" >
                <button (click)="viewsingleproduct(templ.id)" mat-icon-button  style="margin-left: -122%;" color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>view_module</mat-icon>View </button>    
                      </span>
          </mdb-card-footer>
  
        </mdb-card-body>
        <!--/.Card content-->
  
      </mdb-card>
      <!--/.Card-->
    </div>
</div>

  </div>

  <div class="row" *ngIf="productdatadtata.length==0">
    <h2 style="margin-left: 3%;margin-top: 3%;">Nothing to display</h2>
 </div>