<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/logo.png" id="icon" alt="User Icon" />
      </div>

    <br>
  
    <a  (click)="signInWithFB()" class="fb btn">
        <i class="fa fa-facebook fa-fw"></i> Sign In/Sign Up with Facebook
       </a>
     
      <a (click)="signInWithGoogle()" class="google btn"><i class="fa fa-google fa-fw">
        </i> Sign In/Sign Up with Google
      </a>

     
<h2></h2>
      <br>

      <br>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <br><br>

     
    </div>
  </div>